USE [master]
GO
/****** Object:  Database [NewShop]    Script Date: 11/07/2018 07:04:31 PM ******/
CREATE DATABASE [NewShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\NewShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\NewShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewShop]
GO
USE [NewShop]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[ParentId] [int] NULL,
	[TopicId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[Birthday] [datetime] NULL,
	[Phone] [varchar](30) NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Avatar] [varchar](max) NULL,
	[Address] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InputDetails]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InputId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Quantity] [decimal](18, 0) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Discount] [decimal](18, 0) NOT NULL,
	[Tax] [decimal](18, 0) NOT NULL,
	[Note] [nvarchar](150) NULL,
 CONSTRAINT [PK_InputDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inputs]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inputs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InputCode] [varchar](20) NULL,
	[InputDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Discount] [decimal](18, 0) NOT NULL,
	[Tax] [decimal](18, 0) NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Input] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Quantity] [decimal](18, 0) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Discount] [decimal](18, 0) NOT NULL,
	[Tax] [decimal](18, 0) NOT NULL,
	[Note] [nvarchar](150) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [varchar](20) NULL,
	[OrderDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Discount] [decimal](18, 0) NOT NULL,
	[Tax] [decimal](18, 0) NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Url] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BarCode] [varchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Unit] [nvarchar](20) NULL,
	[InputPrice] [decimal](18, 0) NOT NULL,
	[OutputPrice] [decimal](18, 0) NOT NULL,
	[PictureId] [int] NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[Description] [ntext] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[Phone] [varchar](30) NULL,
	[Email] [nvarchar](150) NULL,
	[Address] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLevelPermissions]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLevelPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserLevelId] [int] NOT NULL,
	[ControllerName] [varchar](100) NOT NULL,
	[PermissionCode] [tinyint] NOT NULL,
 CONSTRAINT [PK_LevelPermisions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLevels]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLevels](
	[Id] [int] NOT NULL,
	[UserLevelName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserLevels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/07/2018 07:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Address] [nvarchar](250) NULL,
	[Avatar] [nvarchar](250) NULL,
	[UserLevelId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ResetPasswordToken] [varchar](100) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName], [ParentId], [TopicId], [UserId]) VALUES (4, N'Smart phones', 0, 1, 5)
INSERT [dbo].[Categories] ([Id], [CategoryName], [ParentId], [TopicId], [UserId]) VALUES (5, N'Android Mobiles', 4, 1, 5)
INSERT [dbo].[Categories] ([Id], [CategoryName], [ParentId], [TopicId], [UserId]) VALUES (6, N'Windows Mobiles', 4, 1, 5)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [CustomerName], [Gender], [Birthday], [Phone], [Email], [Password], [Avatar], [Address], [CreatedDate], [IsActive]) VALUES (2, N'Le Hoang Hai', 1, CAST(N'2018-09-14T00:00:00.000' AS DateTime), N'123456', N'lehoanghai22@gmail.com', N'ec278a38901287b2771a13739520384d43e4b078f78affe702def108774cce24', NULL, N'11/3 Dong Da', NULL, 1)
INSERT [dbo].[Customers] ([Id], [CustomerName], [Gender], [Birthday], [Phone], [Email], [Password], [Avatar], [Address], [CreatedDate], [IsActive]) VALUES (3, N'Nguyen Tien Hai', 1, CAST(N'2018-08-14T00:00:00.000' AS DateTime), N'123456', N'tienhai@gmail.com', N'ec278a38901287b2771a13739520384d43e4b078f78affe702def108774cce24', NULL, N'11/3 Dong Da', NULL, 1)
INSERT [dbo].[Customers] ([Id], [CustomerName], [Gender], [Birthday], [Phone], [Email], [Password], [Avatar], [Address], [CreatedDate], [IsActive]) VALUES (4, N'Le Thanh Binh', 1, CAST(N'1987-01-01T00:00:00.000' AS DateTime), N'123456', N'binhlt@gmail.com', N'ec278a38901287b2771a13739520384d43e4b078f78affe702def108774cce24', NULL, N'65 Yen Bai', NULL, 1)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Unit], [Quantity], [Price], [Discount], [Tax], [Note]) VALUES (1, 1, 10, N'Cai', CAST(10 AS Decimal(18, 0)), CAST(300 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), NULL)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Unit], [Quantity], [Price], [Discount], [Tax], [Note]) VALUES (2, 1, 11, N'Cai', CAST(15 AS Decimal(18, 0)), CAST(300 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), NULL)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Unit], [Quantity], [Price], [Discount], [Tax], [Note]) VALUES (3, 1, 12, N'Cai', CAST(20 AS Decimal(18, 0)), CAST(300 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderCode], [OrderDate], [UserId], [CustomerId], [Discount], [Tax], [Status]) VALUES (1, N'123456', CAST(N'2018-09-12T00:00:01.000' AS DateTime), 1, 4, CAST(10 AS Decimal(18, 0)), CAST(10 AS Decimal(18, 0)), 0)
INSERT [dbo].[Orders] ([Id], [OrderCode], [OrderDate], [UserId], [CustomerId], [Discount], [Tax], [Status]) VALUES (2, N'914180', CAST(N'2018-09-12T10:30:54.000' AS DateTime), 1, 3, CAST(20 AS Decimal(18, 0)), CAST(30 AS Decimal(18, 0)), 0)
INSERT [dbo].[Orders] ([Id], [OrderCode], [OrderDate], [UserId], [CustomerId], [Discount], [Tax], [Status]) VALUES (3, N'534035', CAST(N'2018-09-09T00:00:00.000' AS DateTime), 1, 2, CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Pictures] ON 

INSERT [dbo].[Pictures] ([Id], [ProductId], [Url]) VALUES (52, 28, N'636765051871789515_4.jpg')
INSERT [dbo].[Pictures] ([Id], [ProductId], [Url]) VALUES (54, 29, N'636765055559810838_1.png')
INSERT [dbo].[Pictures] ([Id], [ProductId], [Url]) VALUES (55, 30, N'636765057334705783_2.png')
SET IDENTITY_INSERT [dbo].[Pictures] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [BarCode], [CategoryId], [ProductName], [Unit], [InputPrice], [OutputPrice], [PictureId], [Discount], [Description], [IsActive]) VALUES (10, N'159753', 1011, N'CPU Intel Core i3-8350K', N'cái', CAST(4000000 AS Decimal(18, 0)), CAST(4489000 AS Decimal(18, 0)), NULL, CAST(50.00 AS Decimal(5, 2)), N'4Ghz / 8MB / 4 Cores, 4 Threads / Socket 1151 v2 (Coffee Lake )', 1)
INSERT [dbo].[Products] ([Id], [BarCode], [CategoryId], [ProductName], [Unit], [InputPrice], [OutputPrice], [PictureId], [Discount], [Description], [IsActive]) VALUES (11, N'753159', 1011, N'CPU Intel Core i5 8600K', N'cái', CAST(7099000 AS Decimal(18, 0)), CAST(7099000 AS Decimal(18, 0)), NULL, CAST(60.00 AS Decimal(5, 2)), N'3.6Ghz Turbo Up to 4.3Ghz / 9MB / 6 Cores, 6 Threads / Socket 1151 v2 (Coffee Lake )', 1)
INSERT [dbo].[Products] ([Id], [BarCode], [CategoryId], [ProductName], [Unit], [InputPrice], [OutputPrice], [PictureId], [Discount], [Description], [IsActive]) VALUES (12, N'789456', 4, N'Apple iPhone Xs Max 256GB', NULL, CAST(37000000 AS Decimal(18, 0)), CAST(37990000 AS Decimal(18, 0)), NULL, CAST(30.00 AS Decimal(5, 2)), N'Apple', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [SupplierName], [Phone], [Email], [Address], [Description], [IsActive]) VALUES (1, N'Sony', N'090X.XYZ.XYZ', N'sony@gmail.com', N'Japan', NULL, 1)
INSERT [dbo].[Suppliers] ([Id], [SupplierName], [Phone], [Email], [Address], [Description], [IsActive]) VALUES (2, N'Asus', N'090X.XYZ.XYZ', N'asus@gmail.com', N'Taiwan', NULL, 1)
INSERT [dbo].[Suppliers] ([Id], [SupplierName], [Phone], [Email], [Address], [Description], [IsActive]) VALUES (3, N'Acer', N'090X.XYZ.XYZ', N'acer@gmail.com', N'Taiwan', NULL, 1)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([Id], [TopicName]) VALUES (1, N'Smart Phone')
INSERT [dbo].[Topics] ([Id], [TopicName]) VALUES (2, N'Note Book')
INSERT [dbo].[Topics] ([Id], [TopicName]) VALUES (3, N'Tablets')
SET IDENTITY_INSERT [dbo].[Topics] OFF
INSERT [dbo].[UserLevels] ([Id], [UserLevelName]) VALUES (1, N'Manager')
INSERT [dbo].[UserLevels] ([Id], [UserLevelName]) VALUES (2, N'Administrator')
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [LoginName], [Password], [FullName], [Phone], [Email], [Address], [Avatar], [UserLevelId], [CreatedDate], [IsActive], [ResetPasswordToken]) VALUES (1, N'manager', N'ec278a38901287b2771a13739520384d43e4b078f78affe702def108774cce24', N'Manager', N'132456789', N'manager@gmail.com', N'11/3 Dong Da', NULL, 1, CAST(N'2018-08-14T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[Users] ([Id], [LoginName], [Password], [FullName], [Phone], [Email], [Address], [Avatar], [UserLevelId], [CreatedDate], [IsActive], [ResetPasswordToken]) VALUES (5, N'admin', N'ec278a38901287b2771a13739520384d43e4b078f78affe702def108774cce24', N'Administrator', N'123123123', N'admin@gmail.com', N'11/3 Dong Da', NULL, 2, CAST(N'2018-09-05T00:00:00.000' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users]    Script Date: 11/07/2018 07:04:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users] ON [dbo].[Users]
(
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_1]    Script Date: 11/07/2018 07:04:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_1] ON [dbo].[Users]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_2]    Script Date: 11/07/2018 07:04:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_2] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_ParentId]  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Inputs] ADD  CONSTRAINT [DF_Input_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Inputs] ADD  CONSTRAINT [DF_Input_Tax]  DEFAULT ((0)) FOR [Tax]
GO
ALTER TABLE [dbo].[Inputs] ADD  CONSTRAINT [DF_Input_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  CONSTRAINT [DF_OrderDetails_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  CONSTRAINT [DF_OrderDetails_InputPrice]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  CONSTRAINT [DF_OrderDetails_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  CONSTRAINT [DF_OrderDetails_Tax]  DEFAULT ((0)) FOR [Tax]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderDate]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Tax]  DEFAULT ((0)) FOR [Tax]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_InputPrice]  DEFAULT ((0)) FOR [InputPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_OutputPrice]  DEFAULT ((0)) FOR [OutputPrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserLevelPermissions] ADD  CONSTRAINT [DF_LevelPermisions_PermissionCode]  DEFAULT ((0)) FOR [PermissionCode]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_ToTopics] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_ToTopics]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Users]
GO
ALTER TABLE [dbo].[InputDetails]  WITH CHECK ADD  CONSTRAINT [FK_InputDetails_Inputs] FOREIGN KEY([InputId])
REFERENCES [dbo].[Inputs] ([Id])
GO
ALTER TABLE [dbo].[InputDetails] CHECK CONSTRAINT [FK_InputDetails_Inputs]
GO
ALTER TABLE [dbo].[InputDetails]  WITH CHECK ADD  CONSTRAINT [FK_InputDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InputDetails] CHECK CONSTRAINT [FK_InputDetails_Products]
GO
ALTER TABLE [dbo].[Inputs]  WITH CHECK ADD  CONSTRAINT [FK_Input_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Inputs] CHECK CONSTRAINT [FK_Input_Suppliers]
GO
ALTER TABLE [dbo].[Inputs]  WITH CHECK ADD  CONSTRAINT [FK_Input_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Inputs] CHECK CONSTRAINT [FK_Input_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Pictures]  WITH CHECK ADD  CONSTRAINT [FK_Pictures_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Pictures] CHECK CONSTRAINT [FK_Pictures_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Pictures] FOREIGN KEY([PictureId])
REFERENCES [dbo].[Pictures] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Pictures]
GO
ALTER TABLE [dbo].[UserLevelPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserLevelPermissions_UserLevels] FOREIGN KEY([UserLevelId])
REFERENCES [dbo].[UserLevels] ([Id])
GO
ALTER TABLE [dbo].[UserLevelPermissions] CHECK CONSTRAINT [FK_UserLevelPermissions_UserLevels]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserLevels] FOREIGN KEY([UserLevelId])
REFERENCES [dbo].[UserLevels] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserLevels]
GO
USE [master]
GO
