
@{

    Layout = null;
}

<div class="modal-header">

    <h4>Add New Category</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <p>Ban khong co quyen truy cap</p>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Cancel" class="btn btn-danger ml-2" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>

