@using TechnologyShop.Models;

@{
    var categories = ViewBag.categories as List<Category>;
    //var products = ViewBag.products as List<Product>;

    string LoadCategory(int pid, string tab)
    {
        string s = "";
        foreach (var item in categories.Where(x => x.ParentId == pid))
        {
            s += "<tr class='rcat' catid='" + item.Id + "'>"
                + "<td>" + tab + "+ " + item.CategoryName + "</td>"
                + "<td>"
                + Html.ActionLink("Add Sub", "Create", "Categories", new { id = item.Id }, new { @class = "btnmodal" }) + "|"
                + Html.ActionLink("Edit", "Edit", "Categories", new { id = item.Id }, new { @class = "btnmodal" }) + "|"
                + Html.ActionLink("Delete", "Delete", "Categories", new { id = item.Id }, new { @class = "btnmodal" })
                + "</td>"
            + "</tr>" + Environment.NewLine;

            s += LoadCategory(item.Id, tab + "&nbsp; &nbsp; &nbsp; ");//de quy
        }
        return s;
    }
}

<div class="content">
    <!-- begin breadcrumb -->
    <h4 class="header text-uppercase">PRODUCTS</h4>
    <hr />
    <div class="body row"
        <div class="md-col-4 ml-4">
            <p>
                @Html.ActionLink("Add Category", "Create", "Categories", null, new { @class = "btn btn-danger btnmodal" })
            </p>

            <table class="table table-hover table-bordered">
                <tr>
                    <th>Category Name</th>
                    <th>Action</th>
                    <th></th>
                </tr>
                <tr class="rcat" catid="0">
                    <td>All (*)</td>
                    <td></td>
                </tr>
                @Html.Raw(LoadCategory(0, ""))

            </table>
        </div>
        <div class="md-col-8 ml-4" id="lstProducts">

        </div>

        <script src="~/Content/Admin/js/ajax.js"></script>
    </div>
</div>
