@using TechnologyShop.Models;

@{
    var topics = ViewBag.topics as List<Topic>;
    //var products = ViewBag.products as List<Product>;
    Layout = null;

    string LoadCategory()
    {
        string s = "";
        foreach (var item in topics)
        {
            s += "<tr>"
                + "<td>+ " + item.TopicName + "</td>"
                + "<td>"
                + Html.ActionLink("Add Sub", "Create", "Categories", new { id = item.Id }, new { @class = "btnmodal" }) + "|"
                + Html.ActionLink("Edit", "Edit", "Topics", new { id = item.Id }, new { @class = "btnmodal" }) + "|"
                + Html.ActionLink("Delete", "Delete", "Topics", new { id = item.Id }, new { @class = "btnmodal" })
                + "</td>"
            + "</tr>" + Environment.NewLine;

            foreach (var cat in item.Categories)
            {
                s += "<tr class='rcat' catid='" + cat.Id + "'>"
                + "<td>&nbsp; &nbsp; &nbsp; + " + cat.CategoryName + "</td>"
                + "<td>"
                
                + Html.ActionLink("Edit", "Edit", "Categories", new { id = cat.Id }, new { @class = "btnmodal" }) + "|"
                + Html.ActionLink("Delete", "Delete", "Categories", new { id = cat.Id }, new { @class = "btnmodal" })
                + "</td>"
            + "</tr>" + Environment.NewLine;
            }

        }
        return s;
    }
}


    <!-- begin breadcrumb -->
    <h4 class="header text-uppercase">PRODUCTS</h4>
    <hr />
    <div class="row">
        <div class="md-col-4 ml-4">
            <p>
                @Html.ActionLink("Add Topic", "Create", "Topics", null, new { @class = "btn btn-danger btnmodal" })
            </p>

            <div id="tblcat">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Action</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr class="rcat" catid="0">
                            <td>All (*)</td>
                            <td></td>
                        </tr>
                        @Html.Raw(LoadCategory())
                    </tbody>


                </table>
            </div>

        </div>
        <div class="md-col-8 ml-4" id="lstProducts">

        </div>

        <script src="~/Content/Admin/js/ajax.js"></script>
    </div>

