<div class="tab-pane" id="order-complete">
    <div class="order-complete-content box-shadow">
        <div class="thank-you p-30 text-center">
            <h6 class="text-black-5 mb-0">Error Reset Password.</h6>
        </div>
    </div>
</div>
<!-- order-complete end -->