
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="wrapper">

    <!-- Start page content -->
    <div id="page-content" class="page-wrapper">
        <!-- LOGIN SECTION START -->
        <div class="login-section mb-80">
            <div class="container">
                <div class="row">
                    <!-- ForgotPassword -->
                    <div class="col-md-6 col-md-offset-3">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <h6 class="widget-title border-left mb-50">PASSWORD RESET</h6>
                            <div class="login-account p-30 box-shadow" id="register-form">
                                <!--ForgotPassword-->

                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control border-right-0" name="Email" id="resetInputEmail1" type="email" placeholder="Enter email" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>