@using TechnologyShop.Models;


@{
    ViewBag.Title = "Company Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid" id="card-anim">

    </div>
</div>
